# FastAPI
fastapi
uvicorn

# 环境变量
python-dotenv

# 网络
websockets

# 大模型
openai

# 文件上传
python-multipart
pydantic
pydantic-settings
requests

# 音频处理
torch
torchaudio
numpy
sounddevice
soundfile

# WebRTC
aiortc
