# FastAPI
fastapi
uvicorn

# socketio
python-socketio

# 环境变量
python-dotenv


# 大模型
openai

# 文件上传
python-multipart
pydantic
pydantic-settings
requests

# 音频处理
# torch
# torchaudio
# numpy
# sounddevice
# soundfile

# 性能监控
psutil

# LiveKit
livekit

# JWT
PyJWT
